
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: #f4f4f9;
}

.signup {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 20px 0; /* Space between the white and black sections */
}

.signup h1 {
    margin-bottom: 20px;
    color: #333;
}

.signup form {
    display: flex;
    flex-direction: column;
}

.signup input[type="email"],
.signup input[type="password"],
.signup input[type="submit"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

.signup input[type="submit"] {
    background: #01959a;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.signup input[type="submit"]:hover {
    background: black;
}

.signup p {
    margin: 20px 0;
    color: #777;
}

.signup a {
    color: #01959a;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}
